.bubbles-layer-card .bubbles-button {
    fill: #aaa;
    height: 5em;
    left: 3.1em;
    position: absolute;
    width: 5em;
    z-index: 1;
}

.bubbles-layer-card .bubbles-button:focus,
.bubbles-layer-card .bubbles-button:hover {
    fill: #fff;
}

.bubbles-button:focus ~ video,
.bubbles-button:hover ~ video {
    border-color: #fff;
}
