.bubbles-layer-card .bubbles-button {
    position: absolute;
    left: 4em;
    fill: #aaa;
    z-index: 1;
    height: 5em;
    width: 5em;
}

.bubbles-layer-card .bubbles-button:focus,
.bubbles-layer-card .bubbles-button:hover {
    fill: #fff;
}

.bubbles-button:focus ~ video,
.bubbles-button:hover ~ video {
    border-color: #fff;
}
