.bubbles-add-layer .bubbles-button {
    background-color: #000;
    border: 0.1em solid #888;
    border-radius: 50%;
    fill: #888;
    height: 3em;
    left: 80%;
    position: absolute;
    top: 92%;
    width: 3em;
    z-index: 1;
}

.bubbles-add-layer .bubbles-button:focus,
.bubbles-add-layer .bubbles-button:hover {
    border-color: #fff;
    fill: #fff;
}

.bubbles-add-layer .bubbles-button.bubbles-button-hidden {
    display: none;
}
