.bubbles-add-icon:focus {
    outline: none;
    fill: #fff;
}

.bubbles-add-icon:hover {
    fill: #fff;
}

.bubbles-add-icon-hidden {
    opacity: 0;
}

.bubbles-add-icon-hidden:hover,
.bubbles-add-icon-hidden:focus {
    opacity: 1;
}
