.bubbles-composition-panel .scroller {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*
 * Hides all of the contents of the composition panel when it
 * has been hidden with the show/hide button
 * (so that elements won't be focusable/activatable).
 */
.bubbles-composition-panel.bubbles-panel-hidden .scroller {
    display: none;
}
