.bubbles-midi-port-selector {
    background-color: #444;
    opacity: 1.0;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 600;
    padding: 1em 0.5em 1.5em 0.5em;
}

.bubbles-midi-port-selector label {
    margin-left: 0.1em;
    color: #fff;
    display: block;
}

.bubbles-midi-port-selector select {
    margin-top: 0.3em;
    margin-right: 0.75em;
    width: 85%;
}

.bubbles-midi-port-selector svg {
    fill: #fff;
    width: 2em;
    height: 2em;
    margin-bottom: -0.7em;
}
