.bubbles-panel {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bubbles-panel.bubbles-panel-hidden {
    width: 0%;
}

.bubbles-panel-showHide {
    border: 0.1em solid #fff;
    color: #000;
    border-radius: 0em 0.5em 0.5em 0em;
    font-family: sans-serif;
    font-weight: 700;
    padding: 0.25em 0.25em;
    float: right;
    margin-right: -3.5em;
    width: 3.5em;
}

.bubbles-panel-showHide:focus {
    outline: none;
    border-color: #aaa;
}

.bubbles-panel.bubbles-panel-hidden .bubbles-panel-showHide {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.bubbles-panel.bubbles-panel-hidden .bubbles-panel-showHide:focus {
    border-color: #fff;
}
