.bubbles-score-panel .scroller {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

/*
 * Hides all of the contents of the score panel when it
 * has been hidden with the show/hide button
 * (so that elements won't be focusable/activatable).
 */
.bubbles-score-panel.bubbles-panel-hidden .scroller {
    display: none;
}

.bubbles-osc-panel {
    border-bottom: 0.1em solid #aaa;
    color: #fff;
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    opacity: 1;
    padding: 0 0.5em 1.5em 0.5em;
}
