.bubbles-layer-card {
    align-items: center;
    border-bottom: 0.1em solid #ddd;
    display: flex;
    height: 6.25%;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

.bubbles-layer-card video {
    background-color: #000;
    border: 0.2em solid #555;
    border-radius: 1em;
    height: 5em;
    width: 8.86em;
}
